{% extends "base/base.html" %}
{% load static %}
{% block title %}
   Post
{% endblock %}
{% block links %}
{#    <link rel="stylesheet" href="{% static "css/content.css" %}">#}
{% endblock %}
{% block content %}
    {% if msg %}
        <p style="text-align: center">{{ msg.msg1 }} <a href="{% url 'register' %}">{{ msg.msg2 }}</a> или <a href="{% url 'login' %}">{{ msg.msg3 }}</a>.</p>
    {% else %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Добавить">
        </form>
    {% endif %}
{% endblock %}