{% extends "mainPage/layout/base.html" %}
{% load static %}
{% block title %}
    Вход
{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{%static "css/login.css" %}">
{% endblock %}
{% block content %}
    <div class="entrance">
{#        {% if request.method == 'GET' %}#}
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <legend>Войти в аккаунт</legend>
            {{ form.phone }}
            {{ form.password }}
            <input type="submit" name="submit" value="Войти">
        </form>
        <div class="links">
            <a href="#">Забыли пароль?</a>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        </div>
{#        {% endif %}#}
    </div>
    <script>

    </script>
{% endblock %}