{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Регистрация</title>
	<link rel="stylesheet" href="{% static "css/register.css" %}">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="elements">
				<a class="logo" href="/"><i class="fas fa-cogs fa-3x"></i></a>
				<a href="{% url 'login' %}" class="entrance">
					<i class="fas fa-user fa-lg"></i>
				</a>	
			</div>
		</header>
		<main class="main">
			<div class="register" >
                <ul class="bars" type="none">
                    <li><i class="fas fa-phone-square fa-lg"></i></li>
                    <li><i class="far fa-check-circle fa-lg"></i></li>
                    <li><i class="far fa-address-card fa-lg"></i></li>
                    <li><i class="fas fa-key fa-lg"></i></li>
                </ul>
				<form action="{% url 'register' %}" method="post" >
                    {% csrf_token %}
					<legend>Регистрация</legend>
{#					<input name="phone" type="tel" placeholder="Мобильный номер" required >#}
                    {{ form.username }}
                    {{ form.phone }}
                    {{ form.password }}
                    {{ form.password2 }}
					<button type="submit">Продолжить</button>
				</form>
			</div>
		</main>
		<footer class="footer">
			<span>Why'm - система поиска потерянных вещей. &copy; 2018</span>
			<div class="socials">
				<a href="#"><i class="fab fa-facebook fa-lg"></i></a>
				<a href="#"><i class="fab fa-instagram fa-lg"></i></a>
				<a href="#"><i class="fab fa-vk fa-lg"></i></a>
			</div>
		</footer>	
	</div>
	<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#id_phone").mask("+7(999) 999-99-99");
            $("#id_phone").keydown(function(e){
                if((e.which >=48 && e.which <=57)  // цифры
                || (e.which >=96 && e.which <=105)  // num lock
                || e.which==8 // backspace
                || (e.which >=37 && e.which <=40) // стрелки
               || e.which==46) // delete
            {
                return true;
            } else {
                return false;
            }
            });
        });
    </script>
</body>
</html>