html,body {
	padding: 0;
	margin: 0;
	background: #efeded;
	/*position: relative;*/
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
header > nav{
	background: #4fc3f7;
}
#nav-search{
	width: 50%;
	margin-top: 5%;
	background: #fff;
	height: 50px;
}