#nav-search {
	margin-top: 3%;
    padding: 0 10%;
}

#nav-search > nav {
	border-radius: 7px;
	background-color: #fff;
}

.posts{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.post {
    margin: 20px 0;
    width: 80%;
    padding: 20px;
    /*border: .0756px solid #c4c4c4;*/
    height: fit-content;
    box-shadow: 0 3px 20px #c4c4c4;
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
    background: #fff;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-content: flex-start;*/
    /*align-items: flex-start;*/
    /*flex-wrap: wrap;*/
}
.pagination{
    margin: 3vh 0;
}

