{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
        {% block title %}

	    {% endblock %}
    </title>
	<link rel="stylesheet" href="{% static "css/layout.css" %}">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static "css/layout-media-queries.css" %}">
    {% block links %}

    {% endblock %}
</head>
<body>
	<header class="header">
		<div class="nav">
			<div class="logo">
                <a href="#"><i id="menu-icon" class="fas fa-bars fa-2x"></i></a>
                <a href="/"><i id="logo-icon" class="fas fa-cogs fa-3x"></i></a>
			</div>
			<form action="#" method="get" class="search">
				<input type="search" placeholder="Искать">
				<button type="submit">Найти</button>
			</form>
			<div class="profile">
                <a href=""><i class="fas fa-filter fa-md"></i></a>
                <a href="entrance"><i class="fas fa-user fa-lg"></i></a>
			</div>
		</div>
	</header>
	<div class="main-wrap">
		<aside class="left">
			<div class="btnGoToUp" id='scroll-up'><i></i></div>
		</aside>
		<main class="main">
			<div class="navbar">
				<table cellspacing="10">
					<tbody>
						<tr>
							<td><i class="fas fa-search-plus fa-lg"></i></td>
							<td><a href="#">Добавить объявление</a></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td><i class="fas fa-comment-alt fa-lg"></td>
							<td><a href="#">Отзывы</a></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td><i class="fab fa-slideshare fa-lg"></i></td>
							<td><a href="#">Контакты</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="content">
			    {% block content %}

			    {% endblock %}
			</div>
		</main>
		<aside class="right">
			
		</aside>
		<footer class="footer">
			<span>Why'm - система поиска потерянных вещей. &copy; 2018</span>
			<div class="socials">
				<a href="#"><i class="fab fa-facebook fa-lg"></i></a>
				<a href="#"><i class="fab fa-instagram fa-lg"></i></a>
				<a href="#"><i class="fab fa-vk fa-lg"></i></a>
			</div>
		</footer>
	</div>
	<script src="{% static "js/jquery-3.3.1.min.js" %}"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<script src="{% static "js/layout.js" %}"></script>
</body>
</html>