{% extends "mainPage/layout/base.html" %}
{% load static %}
{% block title %}
   Detail
{% endblock %}
{% block links %}
{#    <link rel="stylesheet" href="{% static "css/content.css" %}">#}
{% endblock %}
{% block content %}
    <h4>Salem <i>{{ instance.user }}</i></h4><br>
    <p>{{ instance.description }}</p>
    <p>
        {% if instance.image %}
            <img src="{{ instance.image.url }}" alt="" width="100%">
        {% else %}
            <img src="{% static "media/../../static/media_cdn/default/../../static/media_cdn/example-slide-1.jpg" %}" alt="" width="100%">
        {% endif %}
    </p>
{% endblock %}