{% extends "mainPage/layout/base.html" %}
{% load static %}
{% block title %}
    Why'm - поиск потерянных вещей
{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/content.css" %}">
{% endblock %}
{% block content %}
    <div class="posts">
        {% for user in users %}
{#            {% url 'detail' id=user.id %}#}
            <a class="post" href="{{ user.get_absolute_url }}" >
                <p>{{ user.username }}</p>
                <img src="{% static "media/img/example-slide-1.jpg" %}" alt="" width="100%">
            </a>
        {% endfor %}
    </div>
{% endblock %}