{% extends "mainPage/layout/layout.html" %}
{% load static %}
{% block title %}
    Why'm - поиск потерянных вещей
{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/content.css" %}">
{% endblock %}
{% block content %}
    <div class="post">
        <h3>Example post</h3>
        <h5>Description</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur consectetur, corporis dignissimos eos minus modi necessitatibus nisi qui quos.
            Autem enim ex harum, id impedit inventore modi provident quam quibusdam voluptates.
            Amet at culpa dolore eos et fugit, incidunt ipsum minus nemo nostrum rerum sit voluptates!
            Atque magnam similique veniam.
        </p>
        <img src="{% static "media/img/example-slide-1.jpg" %}" alt="" width="100%">
    </div>
{% endblock %}